#intro i {
	float:left;
}

#intro img{
	width: 128px;
	height: 128px;
}

span {
  text-align: center;
  width: 0.7em;
  font-size: 900%;
  font-family: arial;
  line-height: 90%;

}

.background{
	background-color: #333;

}

.cap p{
color : white;
}

hr{
	color: white;
}
h2{
	font-family: Century Gothic;
	text-align: center;
	  font-size: 200%;

}



