@media only screen and (max-width: 910px){
  .data {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 10px;
    }
    .notes{
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 5 ;
      max-width: 100%;
    }
}

@media only screen and (max-width: 785px){
  .data {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 10px;
    }
    #flute{
      grid-row-start: 2;
      grid-column-start: 1;
    }
    .notes{
      grid-row-start: 2;
      grid-column-start: 2;
      grid-column-end: 5 ;
      max-width: 100%;
    }
}

@media only screen and (max-width: 595px){
  .data {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 10px;
    }

    #drums{
      grid-row-start: 2;
      grid-column-start: 1;
    }
    #flute{
      grid-row-start: 2;
      grid-column-start: 2;
    }
    .notes{
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      max-width: 100%;
    }
}

@media only screen and (max-width: 400px){
  .data {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 10px;
    }
    #guitar{
      grid-row-start: 1;
    }
    #piano{
      grid-row-start: 2;
    }
    #drums{
      grid-row-start: 3;
    }
    #flute{
      grid-column-start: 1;
      grid-row-start: 4;
    }
    .notes{
      grid-row-start: 5;
      max-width: 100%;
    }
}