@media only screen and (min-width: 800px){
	.data {
      display: grid;
      grid-template-columns: 10% 45% 45%;
      grid-gap: 10px;
      padding: 10px;
    }
    .heading{
      grid-column-start: 1;
      grid-column-end: 4; 
    }
    .notes{
      grid-row-start: 2;
      grid-row-end: 4;
    }
    .chord1{
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .chord2{
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .chord3{
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
    }
}

@media only screen and (max-width: 800px){
	.data {
      display: grid;
      grid-template-columns: 10% 90%;
      grid-gap: 10px;
      padding: 10px;
    }
    .heading{
      grid-column-start: 1;
      grid-column-end: 3; 
    }
    .notes{
      grid-row-start: 2;
      grid-row-end: 6;
    }
    .chord1{
      grid-row-start: 2;
      grid-row-end: 3;
    }
    .chord2{
      grid-row-start: 3;
      grid-row-end: 4;
    }
    .chord3{
      grid-row-start: 4;
      grid-row-end: 5;
    }
}